<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessege) { %>
    <div><%= errorMessege %></div>
    <% } %>

    <form class="login-form" action="/login" method="POST" novalidate>
      <div class="form-control">
        <label for="email">E-Mail</label>
        <input
          class="<%= validatorerro.find( e => e.param ==='email')?'invalid' :''%>"
          type="email"
          name="email"
          id="email"
          value="<%= oldinput.email%>"
        />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input
          class="<%= errorMessege !==''?'invalid' :''%>"
          type="password"
          name="password"
          id="password"
          value="<%= oldinput.password %>"
        />
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn" type="submit">Login</button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>
</body>
